
@{


}
    <div class="backround">
        <div class="home">
            
            <h2>

                Admin Login Page

            </h2>





            <form>

                <div class="textAlign">
                    <div>
                        Admin login: <input type="text" placeholder="Username" required>
                    </div>
                    <div>
                        Password: <input type="text" placeholder="Password" required>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("addQuestion", "Home")'">Login</button>


                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>

                    </div>
                </div>
            </form>

        </div>
    </div>