
@model AccuVQuiz.Models.Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Home Page";
}
<div class="backround">
    <div id="home">

        <div id="questionArea">
            @Html.Partial("_QuestionPartial")
        </div>

    </div>

</div>