
@model AccuVQuiz.Models.Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Home Page";
}
<video autoplay muted loop id="myVideo">
    <source src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/Infiniux_Brand_Pattern_Header_HQ_S2.mp4" type="video/mp4">

</video>
<h5>
    <div id="index1pad">
        <div class="content2">
            <div id="home">

                <div id="questionArea">
                    @Html.Partial("_QuestionPartial")
                </div>

            </div>
        </div>
    </div>


</h5>

@*<div id="imagePad">
        <img src="~/img/albert-einstein-quotes-03.jpg"  />
    </div>*@
