
@{
}
    <div class="home">
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <video autoplay muted loop id="myVideo">
            <source src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/Infiniux_Brand_Pattern_Header_HQ_S2.mp4" type="video/mp4">

        </video>
        <div class="content2">
            <p>
                <h2> Welcome to the nexius survery!</h2>

                <div class="quizGuest">

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index1", "Home")'">Guest </button>
                </div>


                <div class="quizBack">

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>

                </div>

             

            </p>

        </div>
    </div>
