@model AccuVQuiz.Models.Company

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
    <div id="home">
        
        <video autoplay muted loop id="myVideo">
            <source src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/Infiniux_Brand_Pattern_Header_HQ_S2.mp4" type="video/mp4">

        </video>
        <div id="index1pad">
            <div class="content2">
                <p>
                    <h2> Welcome to the @Model.CompanyName survey!</h2>

                    <div>
                        <row style="padding-right:30px">
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index1", "Home", new {CompanyID = Model.CompanyID})'" style="width:100px; height:50px;font-size:20px;">Guest </button>
                        </row>
                        <row>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'" style="width:100px; height:50px; font-size:20px;">Back</button>
                        </row>
                    </div>

                </p>

            </div>
        </div>
</div>