.backround {
    height: 100%;
    background-image: url(../img/bg.jpg);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#home {
    color: white;
    
    text-align: center;
}
.infiniuxFont {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.quote {
    position: fixed;
    font-family: Impact, Charcoal, sans-serif;
    text-align:right;
   
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    text-align:center;
   
}


.content2 {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    text-align : center;
    
}
.logoAlign{
    padding-top:50px;
    width: 120%

}

#contentAlign{

    text-align:left;

}

.textAlign {
    text-align: left;
    padding-left: 42%
}

.homeAlign {
    padding-top: 15%;
    padding-left: 15%;
}

.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.colour{
  color: black;
}

#questionAdd{

    padding-top: 50px;

}

#gone{

    padding:20px;

}

#buttonPad{

    padding: 20px;

}